parameters:
    level: 7
    paths:
        - src
        - config
        - database
        - tests/Models/ActorTestModel.php
        - tests/Models/PostTestModel.php
        - tests/Models/CommentTestModel.php
    checkModelProperties: true
    configDirectories:
        - config
